body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  width: 80%;               /* Adjust width as needed */
  margin: 20px auto;         /* Center the table horizontally */
  border-collapse: collapse; /* Ensures borders are shared between cells */
}

/* Style the table headers */
th {
  background-color: #4CAF50; /* Example background color */
  color: white;              /* Text color */
  padding: 10px;             /* Padding inside cells */
  text-align: center;          /* Align text to the left in headers */
  border: 1px solid black;   /* Border around table headers */
}

/* Style the table cells */
td, input {
  padding: 10px;             /* Padding inside cells */
  text-align: center;        /* Center text inside cells */
  border: 1px solid black;   /* Border around table cells */
}

button {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 30px;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s;
}

button:hover {
  background-color: #005703;
  transform: scale(1.5);
}

#resultsSection {
  display: none; /* Initially hide the results section */
}